@import url("https://fonts.googleapis.com/css2?family=Balthazar&family=Fasthand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Balthazar";
  background-color: rgb(100, 127, 237);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container .title {
  font-size: 85px;
  color: white;
  text-shadow: 0 0 3px gray, 0 0 3px gray, 0 0 3px gray, 0 0 3px gray;
  width: 50%;
  text-align: center;
  line-height: 1.1;
  margin-top: 2.5%;
}
.content-container .logo {
  width: 18%;
  margin-top: 2.5%;
  margin-bottom: 4%;
  transition: all 1s;
  border: 1px transparent;
  border-radius: 50%;
}
.content-container .logo:hover {
  transform: scale(1.3) rotate(360deg);
}
.content-container .start {
  width: 380px;
  height: 70px;
  font-size: 40px;
  color: white;
  background-color: #6158ac;
  border: 4px solid #2d254f;
  border-radius: 10px;
  margin-bottom: 3%;
  box-shadow: 5px 5px #2d254f;
  text-shadow: 0 0 3px gray, 0 0 3px gray, 0 0 3px gray, 0 0 3px gray;
}

.content-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container-2 .top-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-container-2 .top-page .lifelines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}
.content-container-2 .top-page .lifelines h2 {
  margin-top: 25px;
  margin-left: 35px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px white, 1px 1px 2px white, 1px 1px 2px white, 1px 1px 2px white;
}
.content-container-2 .top-page .lifelines .lifeline-button {
  margin-left: 35px;
  width: 100%;
  height: 45px;
  font-size: 20px;
  margin-top: 5px;
  border: 3px solid #2d254f;
  text-align: center;
  border-radius: 10px;
  color: #1a1531;
  background-color: #a49bc6;
  padding: 5px;
  font-size: 30px;
  font-weight: bolder;
  box-shadow: 2px 2px #2d254f;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}
.content-container-2 .top-page .logo-2 {
  margin-left: 90px;
}
.content-container-2 .top-page h3 {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
}
.content-container-2 .question {
  width: 80%;
  height: 80px;
  border: 3px solid #2d254f;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #6158ac;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5%;
  font-weight: lighter;
  box-shadow: 5px 5px #2d254f;
  text-shadow: 0 0 3px gray, 0 0 3px gray, 0 0 3px gray, 0 0 3px gray;
}
.content-container-2 .logo-2 {
  width: 17%;
  margin-top: 3%;
}
.content-container-2 .answer-buttons {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 70px 70px;
  gap: 20px;
}
.content-container-2 .answer {
  border: 3px solid #2d254f;
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: #6158ac;
  padding: 5px;
  font-size: 30px;
  box-shadow: 4px 4px #2d254f;
  text-shadow: 0 0 3px gray, 0 0 3px gray, 0 0 3px gray, 0 0 3px gray;
}/*# sourceMappingURL=style.css.map */